@import "tailwindcss";
<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

>>>>>>> 7d4b1a3265468d6282d9369f3f8cbe66567a2a52
